Repository ava-labs/coreth, pull requests merged in 2025-09, with the labels that each got.

#1215 skip verify block fee if is 0
  plugin/evm/customheader/block_gas_cost.go
  plugin/evm/customheader/block_gas_cost_test.go
Labels: requires-subnet-evm-port, technical debt

#1208 feat: add TimeMilliseconds to header
  RELEASES.md
  core/chain_makers.go
  core/genesis.go
  core/genesis_extra_test.go
  core/genesis_test.go
  core/state_processor_test.go
  internal/ethapi/api.go
  internal/ethapi/testdata/eth_getBlockByHash-hash-1.json
  internal/ethapi/testdata/eth_getBlockByHash-hash-genesis.json
  internal/ethapi/testdata/eth_getBlockByHash-hash-latest-1-fullTx.json
  internal/ethapi/testdata/eth_getBlockByHash-hash-latest.json
  internal/ethapi/testdata/eth_getBlockByNumber-number-0.json
  internal/ethapi/testdata/eth_getBlockByNumber-number-1.json
  internal/ethapi/testdata/eth_getBlockByNumber-number-latest-1.json
  internal/ethapi/testdata/eth_getBlockByNumber-tag-latest.json
  internal/ethapi/testdata/eth_getBlockReceipts-block-with-blob-tx.json
  internal/ethapi/testdata/eth_getBlockReceipts-block-with-contract-create-tx.json
  internal/ethapi/testdata/eth_getBlockReceipts-block-with-dynamic-fee-tx.json
  internal/ethapi/testdata/eth_getBlockReceipts-block-with-legacy-contract-call-tx.json
  internal/ethapi/testdata/eth_getBlockReceipts-block-with-legacy-transfer-tx.json
  internal/ethapi/testdata/eth_getBlockReceipts-tag-latest.json
  internal/ethapi/testdata/eth_getHeaderByHash-hash-0.json
  internal/ethapi/testdata/eth_getHeaderByHash-hash-1.json
  internal/ethapi/testdata/eth_getHeaderByHash-hash-latest-1.json
  internal/ethapi/testdata/eth_getHeaderByHash-hash-latest.json
  internal/ethapi/testdata/eth_getHeaderByNumber-number-0.json
  internal/ethapi/testdata/eth_getHeaderByNumber-number-1.json
  internal/ethapi/testdata/eth_getHeaderByNumber-number-latest-1.json
  internal/ethapi/testdata/eth_getHeaderByNumber-tag-latest.json
  internal/ethapi/testdata/eth_getTransactionReceipt-blob-tx.json
  internal/ethapi/testdata/eth_getTransactionReceipt-create-contract-tx.json
  internal/ethapi/testdata/eth_getTransactionReceipt-create-contract-with-access-list.json
  internal/ethapi/testdata/eth_getTransactionReceipt-dynamic-tx-with-logs.json
  internal/ethapi/testdata/eth_getTransactionReceipt-normal-transfer-tx.json
  internal/ethapi/testdata/eth_getTransactionReceipt-with-logs.json
  miner/worker.go
  plugin/evm/customheader/time.go
  plugin/evm/customheader/time_test.go
  plugin/evm/customtypes/block_ext.go
  plugin/evm/customtypes/block_ext_test.go
  plugin/evm/customtypes/block_test.go
  plugin/evm/customtypes/gen_header_serializable_json.go
  plugin/evm/customtypes/gen_header_serializable_rlp.go
  plugin/evm/customtypes/header_ext.go
  plugin/evm/customtypes/header_ext_test.go
  plugin/evm/vm.go
  plugin/evm/vm_test.go
  plugin/evm/wrapped_block.go
  rpc/subscription_test.go
Labels: enhancement, acp-226, granite, requires-subnet-evm-port

#1217 Have `checkPredicates` account for maximum available gas capacity
  consensus/dummy/consensus.go
  plugin/evm/vm_test.go
  plugin/evm/wrapped_block.go
Labels: bug

#1173 fix: free memory used by proposals in firewood
  triedb/firewood/database.go
Labels: x/sync

#1218 refactor: move header time verification
  consensus/dummy/consensus.go
  ethclient/simulated/backend.go
  plugin/evm/customheader/time.go
  plugin/evm/customheader/time_test.go
  plugin/evm/vm.go
  plugin/evm/wrapped_block.go
Labels: cleanup, acp-226, requires-subnet-evm-port

#1224 Remove libevm `cmd/*` packages.
  cmd/abigen/main.go
  cmd/abigen/namefilter.go
  cmd/abigen/namefilter_test.go
  cmd/utils/cmd.go
  cmd/utils/flags.go
Labels: cleanup

#1223 Remove duplicate cancun checks
  consensus/dummy/consensus.go
  plugin/evm/wrapped_block.go
Labels: cleanup

#1234 ACP-226: Add MinDelayExcess to header
  RELEASES.md
  core/genesis.go
  core/genesis_extra_test.go
  core/genesis_test.go
  internal/ethapi/api.go
  internal/ethapi/testdata/eth_getBlockByHash-hash-1.json
  internal/ethapi/testdata/eth_getBlockByHash-hash-genesis.json
  internal/ethapi/testdata/eth_getBlockByHash-hash-latest-1-fullTx.json
  internal/ethapi/testdata/eth_getBlockByHash-hash-latest.json
  internal/ethapi/testdata/eth_getBlockByNumber-number-0.json
  internal/ethapi/testdata/eth_getBlockByNumber-number-1.json
  internal/ethapi/testdata/eth_getBlockByNumber-number-latest-1.json
  internal/ethapi/testdata/eth_getBlockByNumber-tag-latest.json
  internal/ethapi/testdata/eth_getBlockReceipts-block-with-blob-tx.json
  internal/ethapi/testdata/eth_getBlockReceipts-block-with-contract-create-tx.json
  internal/ethapi/testdata/eth_getBlockReceipts-block-with-dynamic-fee-tx.json
  internal/ethapi/testdata/eth_getBlockReceipts-block-with-legacy-contract-call-tx.json
  internal/ethapi/testdata/eth_getBlockReceipts-block-with-legacy-transfer-tx.json
  internal/ethapi/testdata/eth_getBlockReceipts-tag-latest.json
  internal/ethapi/testdata/eth_getHeaderByHash-hash-0.json
  internal/ethapi/testdata/eth_getHeaderByHash-hash-1.json
  internal/ethapi/testdata/eth_getHeaderByHash-hash-latest-1.json
  internal/ethapi/testdata/eth_getHeaderByHash-hash-latest.json
  internal/ethapi/testdata/eth_getHeaderByNumber-number-0.json
  internal/ethapi/testdata/eth_getHeaderByNumber-number-1.json
  internal/ethapi/testdata/eth_getHeaderByNumber-number-latest-1.json
  internal/ethapi/testdata/eth_getHeaderByNumber-tag-latest.json
  internal/ethapi/testdata/eth_getTransactionReceipt-blob-tx.json
  internal/ethapi/testdata/eth_getTransactionReceipt-create-contract-tx.json
  internal/ethapi/testdata/eth_getTransactionReceipt-create-contract-with-access-list.json
  internal/ethapi/testdata/eth_getTransactionReceipt-dynamic-tx-with-logs.json
  internal/ethapi/testdata/eth_getTransactionReceipt-normal-transfer-tx.json
  internal/ethapi/testdata/eth_getTransactionReceipt-with-logs.json
  plugin/evm/customtypes/block_ext.go
  plugin/evm/customtypes/block_ext_test.go
  plugin/evm/customtypes/block_test.go
  plugin/evm/customtypes/gen_header_serializable_json.go
  plugin/evm/customtypes/gen_header_serializable_rlp.go
  plugin/evm/customtypes/header_ext.go
  plugin/evm/customtypes/header_ext_test.go
  rpc/subscription_test.go
Labels: acp-226, granite, requires-subnet-evm-port

#1249 Upgrade to go 1.24
  RELEASES.md
  core/state_manager.go
  go.mod
  go.sum
  plugin/evm/atomic/sync/syncer_test.go
  plugin/evm/message/block_request_test.go
  plugin/evm/message/code_request_test.go
  plugin/evm/message/leafs_request_test.go
  plugin/evm/vmtest/test_syncervm.go
  sync/client/client_test.go
  sync/handlers/leafs_request_test.go
  sync/statesync/statesynctest/test_sync.go
  sync/statesync/statesynctest/test_trie.go
  sync/statesync/sync_test.go
Labels: dependencies, ci, requires-subnet-evm-port
